<div class="d-flex justify-content-between m-4">
    <h4>Editar Cliente </h4>
    <button mat-button (click)="cerrar()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div style="overflow: auto; height: 450px; ">
    <form #form="ngForm" (submit)="submitFormulario(form)" autocomplete="off">

        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-number">ID del Cliente</span>
            </div>
            <input required readonly="readonly" type="number" class="form-control" name="id" #idcliente="ngModel"
                [(ngModel)]="servicioCliente.formulario.id">
        </div>


        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Nombre del Cliente</span>
            </div>
            <input required minlength="2" type="text" class="form-control" name="nombre" #nombre="ngModel"
                [(ngModel)]="servicioCliente.formulario.nombre">
        </div>
        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Direccion del Cliente</span>
            </div>
            <input required minlength="2" type="text" class="form-control" name="direccion" #direccion="ngModel"
                [(ngModel)]="servicioCliente.formulario.direccion">
        </div>

        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">CUIT del Cliente</span>
            </div>
            <input required minlength="2" type="text" class="form-control" name="cuit" #cuit="ngModel"
                [(ngModel)]="servicioCliente.formulario.cuit">
        </div>
        <!--  -->
        <button class="mt-4" mat-raised-button color="primary" type="submit" [disabled]="form.invalid"
            (click)="cerrar()">Actualizar datos</button>

    </form>
</div>